* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f5f7;
  font-size: 14px;
  color: rgb(32, 23, 66);
  line-height: 1.5;
  font-family: Rubik, Roboto, sans-serif;
  margin: 2rem 4rem;
}
